
@font-face {
    font-family: 'arialic_hollowregular';
    src: url('../ArialicHollowRegularFonts/arialic_hollow-webfont.woff2') format('woff2'),
    url('../ArialicHollowRegularFonts/arialic_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'coolveticaregular';
    src: url('../coolveticaRegularFonts/coolvetica-webfont.woff2') format('woff2'),
    url('../coolveticaRegularFonts/coolvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    /*background-color: pink;*/
}

/* https://www.youtube.com/watch?v=oYRda7UtuhA
How To Make Website Using HTML & CSS | Full Responsive Multi Page Website Design Step by Step  */


/*provizoriu*/

h3 , h1 , p{
    text-transform: capitalize;
    text-align: center;
    padding: 1em;
}

h1{
    font-family: 'arialic_hollowregular';
    color:Crimson;
    font-size: 4em;
    text-shadow: 0.3px 0.3px 3px gray;
}

/* after and after hover effect */
h1::before,
h1::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    text-shadow: 0.3px 0.3px 3px gray;
    margin: auto;
    transition: 1s;
    background-color: Crimson;
}

h1:hover::before,
h1:hover::after{
    /*width: 1088px;*/
    width: 100%;
}
/*after and after hover effect*/

h3{
    font-family: 'coolveticaregular';
    letter-spacing: 0.3em;
    padding: 1em;
    font-weight: bold;
}

h5 {
    font-family: 'coolveticaregular';
}
p{
    font-family: 'Fredoka', sans-serif;
    color: SkyBlue;
}






/*header home*/
.transparency{
    /*background-color: #00000066;*/
    background-image: linear-gradient(to right , rgba(50, 82, 3, 0.75), rgba(202, 212, 241, 0.15));
    height: 100vh;
    width: 100%;
}


header#catPageHeader{
    height: 100vh;
    /* background-image: url(../images/Image.jpg); */
    background-image: url(https://images.unsplash.com/photo-1529257414772-1960b7bea4eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5px 0.5px 10px gray;
}

.container{
    max-width: 1088px;
    margin: 0 auto;
}

nav {
    /*background-color: Olive;*/
    background-color: rgba(128, 128, 0, 0.50);
}

nav div.container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 2.1em;
    display: flex;
}

.logoSvg{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url(../images/pet-project-logo-white-01.svg);
    background-position: center;
    background-size: cover;
}
.logoWords{
    margin-left: -1em;
    margin-top: 0.6em;
    width: 50%;
    text-align: center;
    font-family: 'coolveticaregular';
}

/*span 1 pet word*/
.logo span:nth-of-type(1){
    letter-spacing: 0.3em;
    color: SkyBlue;
}
/*span 2 project word*/
.logo span:nth-of-type(2){
    color: Crimson;
}

.menu li{
    display: flex;
    height: 80px;
}

.menu li a{
    color: white;
    line-height: 80px;
    padding: 0 1em;
    letter-spacing: 0.3em;
    font-family: 'coolveticaregular';
}

.menu li a:hover{
    background-color: rgba(255,255,255,0.25);
}

.menu{
    display: flex;
}

.catSvg{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/white-cat-01.svg);
    background-position: center;
    background-size: cover;
}

.dogSvg{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/white-dog-01.svg);
    background-position: center;
    background-size: cover;
}
/* media screen for header  */
@media screen and (max-width: 959px) {

    header#home{
        background-image: url(https://images.unsplash.com/photo-1509205477838-a534e43a849f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=878&q=80);
    }

    .menu{
        margin-right: 1.5em;
    }

    .logo{
        margin-left: 0;
        font-weight: bold;
        font-size: 1.5em;
    }

    .logoSvg{
        width: 60px;
        height: 60px;
    }

    .logoWords{
        margin-left: 0;
        margin-top: 0.5em;
        width: 25%;
    }

    .logo span:nth-of-type(1){
        letter-spacing: 1em;
    }

    .menu li a{
        letter-spacing: 0.15em;
        padding: 0 0.15em;
    }

    .catSvg{
        margin-top: 0.5em;
        width: 60px;
        height: 60px;
    }

    .dogSvg{
        margin-top: 0.5em;
        width: 60px;
        height: 60px;
    }
    /*only fonts*/
    h1{
        font-size: 2em;
    }

    h1:hover::before,
    h1:hover::after{
        width: 100%;
    }

    h3{
        letter-spacing: 0.15em;
    }
}

/*
header section after tutorial
https://www.youtube.com/watch?v=Oa9LTDR9ugU
How To Make A Website Header Using HTML And CSS Step By Step | Web Design In HTML & CSS
*/

#header-cat-page{
    /*border: #d10fe7 solid 5px;*/
    width: 45%;
    height: calc(100% - 80px);

    float:left;

display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.card{
    width: 17em;
    height: 17em;
    /*display: inline-block;*/
    box-sizing: border-box;
    cursor:pointer;
    border-radius: 50%;
    padding: 1em;
    margin: 1em;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    box-shadow: 0.25px 0.25px 5px rgba(0, 0, 0, 0.5);
}


.white-cat{
    background-image: url(https://images.unsplash.com/photo-1606214174585-fe31582dc6ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
margin-top: 2.5em;
}

.white-cat:hover{
    transform:translateY(0.7em);
    width: 18em;
    height: 18em;
}

.black-cat{
    background-image: url(https://images.unsplash.com/photo-1615000363959-e52262d2c75b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    margin-bottom: 2.5em;
}

.black-cat:hover{
    transform:translateY(-0.7em);
    width: 18em;
    height: 18em;
}

                                                   /*links header white and black cats towards the same page*/

#link-header-cat-page{
    /*border:5px solid yellow;*/
    width: 20%;
    height: calc(100% - 80px);

    float:right;
}

#link-header-cat-page{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

    padding-top: 5em;
    padding-bottom: 5em;
}

.link-cat-page{
    letter-spacing: 0.5em;
    display: flex;
    align-items:center;
    justify-content: center;
    border:3px skyblue solid;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    transition: transform 0.5s;
    box-shadow: 0.25px 0.25px 5px rgba(0, 0, 0, 0.5);
}
/*Crimson
#dc143c
rgb(220, 20, 60)
hsl(348, 83%, 47%)*/
.link-white-cat-page{
    background-color:rgba(220, 20, 60, 0.75) ;
    color:white;
}
.link-black-cat-page{
    background-color:rgba(220, 20, 60, 0.75) ;
    color:black;
}
                                                    /*links header white and black cat*/

@media screen and (max-width: 959px) {
    #header-cat-page{
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .card {
        width: 12em;
        height: 12em;
        margin-left: 1.5em;
    }

    .card:hover {
       width: 13em;
       height: 13em;
    }

    #link-header-cat-page{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .link-cat-page{
        display: flex;
        align-items:center;
        justify-content: center;
        border:3px skyblue solid;
        border-radius: 1em;
        padding: 0.1em 0.3em;
        transition: transform 0.5s;
        box-shadow: 0.25px 0.25px 5px rgba(0, 0, 0, 0.5);
        margin-right: 1.5em;
    }

}



                                                                     /*cat page bellow header*/



.inside-cat-page{
    height: 100vh;
}

.inside-cat-page p{
    margin-top: 3.5em;
}

.image-align{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.align-black-cats{
   padding: 0 -25em;
}

.align-black-cats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cat-page-info-link-show{
    width: 17em;
    height: 17em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    box-shadow: 0.25px 0.25px 5px rgba(0, 0, 0, 0.5);
    margin: 1em;
}
.whiteImage{
    background-image: url(https://images.unsplash.com/photo-1606425270259-998c37268501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=879&q=80);
}
.whiteImageSecond{
    background-image: url(https://images.unsplash.com/photo-1531040825718-5ef13577b4d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80);
}
.whiteImageThird{
    background-image: url(https://images.unsplash.com/photo-1611023745016-1af16c671e1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}



.blackImage{
    background-image: url(https://images.unsplash.com/photo-1584615489955-ec0a8090ac34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);
}
.blackImageSecond{
    background-image: url(https://images.unsplash.com/photo-1611668070024-4b53a3908386?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.blackImageThird{
    background-image: url(https://images.unsplash.com/photo-1618188644631-54528c4f8ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=709&q=80);
}
.blackImageFourth{
    background-image: url(https://images.unsplash.com/photo-1597752710901-aa42106bbdc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
}
.blackImageFifth{
    background-image: url(https://images.unsplash.com/photo-1562009910-830d74050500?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=762&q=80);
}


@media screen and (max-width: 959px) {
    .image-align{
        display: flex;
        flex-wrap: wrap;
    }

    .inside-cat-page{
        height: auto;
    }
}

@media screen and (max-width: 1300px) {
    .align-black-cats{
        display: flex;
        flex-wrap: wrap;
    }

    .inside-cat-page{
        height: auto;
    }
}

/* Slideshow  w 3 school  https://www.w3schools.com/howto/howto_js_slideshow.asp */

/* Slideshow container */
.slideshow-container {
    max-width: 1088px;
    position: relative;
    margin: auto;
}

.sliderPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides img{
border-radius: 1em;
    box-shadow: 0.25px 0.25px 5px rgba(0, 0, 0, 0.5);
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: crimson;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: white;
    font-family: 'coolveticaregular';
    font-size: 1.5em;
    padding: 0.5em 1em;
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-family: 'coolveticaregular';
    color: crimson;
    font-size: 1.5em;
    padding: 0.5em 1em;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: crimson;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: skyblue;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Slideshow https://www.w3schools.com/howto/howto_js_slideshow.asp */




/*footer*/


.hidden{
  display:none;
}
footer a h3{
  color:white;
}
footer a h3:hover{
  color:crimson;
}


footer{
    background-color: Olive;
}

#aboutFooter{
    padding-top: 2.5em;
}

footer #icons{
    margin-top: 1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footerIcons a{
    color:Skyblue;
    font-size: 3em;
}

footer .footerIcons a:hover{
    color:Crimson;
    font-weight: bold;
}

footer .footerIcons a:active{
    color:Maroon;
    font-weight: bold;
}

#divSources h5{
    text-align: center;
    line-height: 3.5em;
    letter-spacing: 0.1em;
}

#divSources h5 a{
    color:Skyblue;
}

#divSources h5 a:hover{
    color:Crimson;
    font-weight: bold;
}

#divSources h5 a:active{
    color:Maroon;
    font-weight: bold;
}

/* media screen for footer  */
@media screen and (max-width: 959px) {

    #divSources h5{
        text-align: center;
        line-height: 1.7em;
        letter-spacing: 0.1em;
        margin: 1.5em 0;
    }

    footer #icons{
        font-size: 1em;
        display: block;
        text-align: center;
    }


    footer #icons div{
        padding: 0.7em 0;
    }
}



/*footer h3 about us */

#aboutFooter{
    padding-top: 5em;
    padding-bottom: 3em;
}

footer h3#aboutFooter a{
    color:olive;
    /*background-color: white;*/
    background-color: rgba(255, 255, 255,0.75);
    border:3px solid skyblue;
    border-radius: 1em;
    padding: 0.7em 1.3em;
    letter-spacing: 0.3em;
    box-shadow: 1px 1px 5px darkslategray;
}

footer h3#aboutFooter a:hover{
    color:crimson;
}

footer h3#aboutFooter a:active{
    color:maroon;
}


/*https://www.youtube.com/watch?v=ZeMMvgCR7aU*/
/*Navigation: linking multiple pages*/
