@font-face {
  font-family: 'arialic_hollowregular';
  src: url('../ArialicHollowRegularFonts/arialic_hollow-webfont.woff2') format('woff2'),
    url('../ArialicHollowRegularFonts/arialic_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'coolveticaregular';
  src: url('../coolveticaRegularFonts/coolvetica-webfont.woff2') format('woff2'),
    url('../coolveticaRegularFonts/coolvetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  /*background-color: pink;*/
}

/* https://www.youtube.com/watch?v=oYRda7UtuhA
How To Make Website Using HTML & CSS | Full Responsive Multi Page Website Design Step by Step  */
/*provizoriu*/
h3, h1, p {
  text-transform: capitalize;
  text-align: center;
  padding: 1em;
}

h1 {
  font-family: 'arialic_hollowregular';
  color: Crimson;
  font-size: 4em;
  text-shadow: 0.3px 0.3px 3px gray;
}

/* after and after hover effect */
h1::before,
h1::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  text-shadow: 0.3px 0.3px 3px gray;
  margin: auto;
  transition: 1s;
  background-color: Crimson;
}

h1:hover::before,
h1:hover::after {
  /*width: 1088px;*/
  width: 100%;
}

/*after and after hover effect*/
h3 {
  font-family: 'coolveticaregular';
  letter-spacing: 0.3em;
  padding: 1em;
  font-weight: bold;
}

h5 {
  font-family: 'coolveticaregular';
}

p {
  font-family: 'Fredoka', sans-serif;
  color: SkyBlue;
}

/*header home*/
.transparency {
  background-color: #00000066;
  /*background-image: linear-gradient(to bottom , rgba(50, 82, 3, 0.25), rgba(202, 212, 241, 0.75));*/
  height: 100vh;
  width: 100%;
}

header#home {
  height: 100vh;
  /* background-image: url(../images/Image.jpg); */
  background-image: url(https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0.5px 0.5px 10px gray;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

nav {
  /*background-color: Olive;*/
  background-color: rgb(128, 128, 0);
}

nav div.container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 2.1em;
  display: flex;
}

.logoSvg {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(../images/pet-project-logo-white-01.svg);
  background-position: center;
  background-size: cover;
}

.logoWords {
  margin-left: -1em;
  margin-top: 0.6em;
  width: 50%;
  text-align: center;
  font-family: 'coolveticaregular';
}

/*span 1 pet word*/
.logo span:nth-of-type(1) {
  letter-spacing: 0.3em;
  color: SkyBlue;
}

/*span 2 project word*/
.logo span:nth-of-type(2) {
  color: Crimson;
}

.menu li {
  display: flex;
  height: 80px;
}

.menu li a {
  color: white;
  line-height: 80px;
  padding: 0 1em;
  letter-spacing: 0.3em;
  font-family: 'coolveticaregular';
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.menu {
  display: flex;
}

.catSvg {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url(../images/white-cat-01.svg);
  background-position: center;
  background-size: cover;
}

.dogSvg {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url(../images/white-dog-01.svg);
  background-position: center;
  background-size: cover;
}

/* media screen for header  */
@media screen and (max-width: 959px) {
  header#home {
    background-image: url(https://images.unsplash.com/photo-1509205477838-a534e43a849f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=878&q=80);
  }

  .menu {
    margin-right: 1.5em;
  }

  .logo {
    margin-left: 0;
    font-weight: bold;
    font-size: 1.5em;
  }

  .logoSvg {
    width: 60px;
    height: 60px;
  }

  .logoWords {
    margin-left: 0;
    margin-top: 0.5em;
    width: 25%;
  }

  .logo span:nth-of-type(1) {
    letter-spacing: 1em;
  }

  .menu li a {
    letter-spacing: 0.15em;
    padding: 0 0.15em;
  }

  .catSvg {
    margin-top: 0.5em;
    width: 60px;
    height: 60px;
  }

  .dogSvg {
    margin-top: 0.5em;
    width: 60px;
    height: 60px;
  }

  /*only fonts*/
  h1 {
    font-size: 2em;
  }

  h1:hover::before,
  h1:hover::after {
    width: 100%;
  }

  h3 {
    letter-spacing: 0.15em;
  }
}

/*header*/
/*content*/
/*
Olive
#808000
rgb(128, 128, 0)
hsl(60, 100%, 25%)
*/
h1#first-title {
  margin-top: 0.5em;
}

#from-illustrator {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(olive, rgba(128, 128, 0, 0.5), rgba(128, 128, 0, 0.25), rgba(128, 128, 0, 0.15), white);
  /* box-shadow: 0.5px 0.5px 10px gray; */
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -5em;
}

.bubbles img {
  animation: bubble 7s linear infinite;
}

@keyframes bubble {
  0% {
    transform: translatey(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translatey(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-of-type(1) {
  animation-delay: 3s;
  width: 11em;
}

.bubbles img:nth-of-type(2) {
  animation-delay: 5.7s;
  width: 5em;
}

.bubbles img:nth-of-type(3) {
  animation-delay: 1s;
  width: 9em;
}

.bubbles img:nth-of-type(4) {
  animation-delay: 5s;
  width: 7em;
}

.bubbles img:nth-of-type(5) {
  animation-delay: 1.7s;
  width: 15em;
}

.bubbles img:nth-of-type(6) {
  animation-delay: 4.5s;
  width: 7em;
}

.bubbles img:nth-of-type(7) {
  animation-delay: 1.3s;
  width: 5em;
}

.bubbles img:nth-of-type(8) {
  animation-delay: 5.3s;
  width: 9em;
}

.bubbles img:nth-of-type(9) {
  animation-delay: 2.7s;
  width: 13em;
}

.bubbles img:nth-of-type(10) {
  animation-delay: 3.3s;
  width: 7em;
}

.bubbles img:nth-of-type(11) {
  animation-delay: 1s;
  width: 15em;
}

.bubbles img:nth-of-type(12) {
  animation-delay: 5.7s;
  width: 5em;
}

/*bubble from Illustrator*/
/*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_zindex*/
#w3school-z-index {
  height: 40vh;
}

@media screen and (max-width: 800px) {
  #w3school-z-index {
    display: none;
  }
}

.dog {
  position: relative;
}

/*white dog*/
.white-dog {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  /* border:3px solid red; */
  background-image: url(../images/white-dog.jpg);
  height: 15em;
  width: 15em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
}

.white-shadow {
  position: absolute;
  left: 3em;
  top: 3em;
  z-index: 2;
  /* border:3px solid red; */
  background-color: white;
  height: 15em;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.white-shadow p {
  font-weight: bold;
  text-align: right;
  text-shadow: 0.1px 0.1px 3px olive;
  letter-spacing: 0.5em;
  color: olive;
}

.olive-shadow {
  position: absolute;
  left: 6em;
  top: 6em;
  z-index: 1;
  /* border:3px solid red; */
  background-color: olive;
  height: 15em;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
}

/*black dog*/
.black-dog {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
  /* border:3px solid red; */
  background-image: url(../images/black-dog.jpg);
  height: 15em;
  width: 15em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
}

.black-white-shadow {
  position: absolute;
  right: 3em;
  top: 3em;
  z-index: 2;
  /* border:3px solid red; */
  background-color: white;
  height: 15em;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.black-white-shadow p {
  font-weight: bold;
  text-align: left;
  text-shadow: 0.1px 0.1px 3px olive;
  letter-spacing: 0.5em;
  color: olive;
}

.olive-shadow-black {
  position: absolute;
  right: 6em;
  top: 6em;
  z-index: 1;
  /* border:3px solid red; */
  background-color: olive;
  height: 15em;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
}

/*z index for mobile*/
@media screen and (max-width: 800px) {
  .food-mobileScreen-title {
    margin-top: -3em;
  }
}

#w3school-z-index-for-mobile {
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.food-dog-mobile {
  position: absolute;
  left: calc(50% - 10.5em);
  top: calc(50% - 10.5em);
  z-index: 3;
  /* border:3px solid red; */
  background-image: url(../images/dog-food.jpg);
  transition: 0.5s;
  height: 15em;
  width: 15em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
}

.food-dog-mobile:hover {
  background-image: url(../images/dog-bowl.jpg);
}

.food-shadow {
  position: absolute;
  left: calc(50% - 7.5em);
  top: calc(50% - 7.5em);
  z-index: 2;
  /* border:3px solid red; */
  background-color: white;
  height: 15em;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.food-shadow p {
  font-weight: bold;
  text-align: right;
  text-shadow: 0.1px 0.1px 3px olive;
  letter-spacing: 0.5em;
  color: olive;
}

.olive-shadow-food {
  position: absolute;
  left: calc(50% - 4.5em);
  top: calc(50% - 4.5em);
  z-index: 1;
  /* border:3px solid red; */
  background-color: olive;
  height: 15em;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0.3px 0.3px 5px black;
  margin: 0 1.5em;
  padding: 0 1.5em;
}

/*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_zindex*/
/*content*/
/*before-svg-effect section*/
#before-svg-effect {
  margin-bottom: 3em;
  padding: 1em;
}

#before-svg-effect h1 {
  margin-top: -1.7em;
  margin-bottom: -0.7em;
}

#before-svg-effect ul {
  margin: 1em;
}

#before-svg-effect ul li {
  margin: 1em;
}

@media screen and (max-width: 959px) {
  #before-svg-effect h1 {
    margin-top: -3em;
  }
}

@media screen and (min-width: 960px) {
  #before-svg-effect ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#before-svg-effect ul li p {

  position: relative;
}

#before-svg-effect ul li p::before {
  content: "";
  position: absolute;
  display: block;
  width: 3em;
  height: 3em;
  top: 0.7em;
  left: -1.3em;
  margin: -1em;
  background-image: url(../images/olive-paw-before-dog-page-effect-01.svg);
  background-position: center;
  background-size: cover;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0.3px 0.3px 5px black;
}

#before-svg-effect ul li p:hover::before {
    background-color: rgba(220, 20, 60, 0.5);
}

@media screen and (max-width: 959px) {
#before-svg-effect ul li p::before {
  top: 1em;
  left: -1.7em;
}
}

/*before-svg-effect section*/
/*footer*/
footer {
  background-color: Olive;
}

#aboutFooter {
  padding-top: 2.5em;
}

footer #icons {
  margin-top: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .footerIcons a {
  color: Skyblue;
  font-size: 3em;
}

footer .footerIcons a:hover {
  color: Crimson;
  font-weight: bold;
}

footer .footerIcons a:active {
  color: Maroon;
  font-weight: bold;
}

#divSources h5 {
  text-align: center;
  line-height: 3.5em;
  letter-spacing: 0.1em;
}

#divSources h5 a {
  color: Skyblue;
}

#divSources h5 a:hover {
  color: Crimson;
  font-weight: bold;
}

#divSources h5 a:active {
  color: Maroon;
  font-weight: bold;
}

/* media screen for footer  */
@media screen and (max-width: 959px) {
  #divSources h5 {
    text-align: center;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    margin: 1.5em 0;
  }

  footer #icons {
    font-size: 1em;
    display: block;
    text-align: center;
  }

  footer #icons div {
    padding: 0.7em 0;
  }
}

/*footer h3 about us */
#aboutFooter {
  padding-top: 5em;
  padding-bottom: 3em;
}

footer h3#aboutFooter a {
  color: olive;
  /*background-color: white;*/
  background-color: rgba(255, 255, 255, 0.75);
  border: 3px solid skyblue;
  border-radius: 1em;
  padding: 0.7em 1.3em;
  letter-spacing: 0.3em;
  box-shadow: 1px 1px 5px darkslategray;
}

footer h3#aboutFooter a:hover {
  color: crimson;
}

footer h3#aboutFooter a:active {
  color: maroon;
}

/*https://www.youtube.com/watch?v=ZeMMvgCR7aU*/
/*Navigation: linking multiple pages*/
